{
  "env": {
    "browser": true,
    "node": true,
    "jest":true,
    "mocha":true
   },
  "rules": {
    "no-console": 0,
    "semi": 2,
  },
  "globals":{
   "firebase": true,
   "db": true
  },
  "parser": {
   "babel-eslint"
   }
}
