h1 {
  color: grey;
  opacity: 0.7;
}

.bg-light {
  background-color: #330b62!important;
}

a:not([href]):not([tabindex]) {
  color: whitesmoke;
  text-decoration: none;
}

#welcomePage{
  text-align:center;
}

.visitorInput{
  border-top: none;
  border-left: none;
  border-right: none;
}

.visitantSelector{
  background-color: white;
  border-color: black;
  margin: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-secondary {
  color: #fff;
  background-color: #330b62;
  border-color: #1d053a;
}



.page{
  display: none;
  width: 100%;
  height: auto;
  /*min-height: 100%;  allow for content off the bottom of the page */
  position: absolute;
  padding: 1rem 2rem;
}

.active {
  display: block; 
}

